.bg-navbar {
    background-color: #171b26 !important;
}

.navbar{
    background-color: #171b26 !important;
    box-shadow: 0 0 5px 0 #000;
}


.bg-kumpel {
    background-color: #171b26 !important;
    color: #b9babf;
}

.navbar-dark .navbar-brand {
    color: #b9babf;
    font-weight: 700;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #b9babf;
}

.kumpel-red{
    background-color: #EB5757;
    color: #b9babf;
}

.kumpel-brown{
    background-color: #8C8979;
}

.jumbotron {
    padding: 2rem .1rem;
    margin-bottom: 2rem;
    background-color: #F2F2F2;
    border-radius: 15rem;
}
